.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landing-info-cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items:center;
  background-color: aquamarine;
  box-sizing: content-box; 
  padding: 2rem;
  
}
.landing-info-cards section {
  align-content: center;
  box-sizing: content-box;  
  width: 30vh;
  height: 20vh;
  padding: 2rem;
}
.landing-info-invest,.landing-front{
  align-content: center;
  box-sizing: content-box;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: bisque;

}
.landing-info-invest{
padding-left: 4rem;
padding-right:4rem;
}

.component-container{
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: white;
}
.landing-front{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100vw;
  height: 89vh;

}