* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.landing-info-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(146, 236, 206);
  box-sizing: content-box;
  padding: 2rem;

}

.landing-info-cards section {
  align-content: center;
  box-sizing: content-box;
  width: 30vh;
  height: auto;
  padding: 2rem;
}

.landing-front {
  align-content: center;
  box-sizing: content-box;
  padding-top: 4rem;
  /* background-color: bisque; */
}

.landing-info-invest {
  align-content: center;
  box-sizing: content-box;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: bisque;
  padding-left: 4rem;
  padding-right: 4rem;
}
.landing-info img{
  max-width:180px;
  max-height: 180px;
}
.landing-front,.landing-front-video {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100vw;
  height: calc(100vh - 7rem);
   }

   .landing-front-video{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100&0+0,0.5+100;Grey+Black+3D */
background: -moz-linear-gradient(left, rgba(181,189,200,0) 0%, rgba(130,140,149,0.18) 36%, rgba(40,52,59,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5bdc8', endColorstr='#8028343b',GradientType=1 ); /* IE6-9 */

   }
.demo{
  padding-top: 6rem;
}
.account-master{
  padding:30px 0;
}
#año-mes input {
  width: 3rem;
}

#año-mes {
  display: flex;
  justify-content: center;
}

.all-forms {
  background-color: white;
  max-width: 15vw;
  height: auto;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.nav-selected {
  font-weight: bold;
}

.nav-inactive {
  color: #fff;
  text-decoration: none;
}

.nav-inactive:hover {
  color: gray;
  text-decoration: none;
}

.nav-bar-links-container {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.nav-bar-links-menu {
  display: none;
}

.form-errors {
  color: red;
}

.form-info,
.form-errors {
  size: 1.2rem;

}

video#background-video {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: content-box;
}

.nav-bar {
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  padding-left: 4rem;
  padding-right: 2rem;
  height: auto;
  min-height: 3rem;
}
#landing-logo{
  height: 10vh;
  width: 10vh;
    max-height: 180px;
    max-width: 180px;
  position: relative;
  z-index: 1;
  transform: translateY(4vh);
}
#landing-calculator h1{
  font-size:3rem;
}
#landing-calculator h2{
  font-size:1rem;
  color:gray;
}
#landing-calculator{
  width: auto;
  padding-top: 2vh;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #landing-calculator{
    width: auto;
    padding-top: 2vh;
    position: relative;
    z-index: 0;
  }
  .nav-bar-links-container {
    display: none;
  }
  .nav-bar-links-menu {
    display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  }
  #menu-icon{
    width: 100%;
    height: 100%;
    font-size:1.6rem;
  }
  .account-master{
    padding-top: 2vh;
  }
}

@media(max-width:555px){

  .landing-front {
    height: auto;
    padding: 20px 0;
  }
    video#background-video {
   
      height: 180vh;
   
    }
}
