*{
  font-family: 'Raleway', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landing-info-cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items:center;
  background-color: aquamarine;
  box-sizing: content-box; 
  padding: 2rem;
  
}
.landing-info-cards section {
  align-content: center;
  box-sizing: content-box;  
  width: 30vh;
  height: 20vh;
  padding: 2rem;
}
.landing-front{
  align-content: center;
  box-sizing: content-box;
  padding-top: 4rem;
  background-color: bisque;

}
.landing-info-invest{
  align-content: center;
  box-sizing: content-box;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: bisque;
padding-left: 4rem;
padding-right:4rem;
}

.landing-front{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100vw;
  height: 89vh;

}
#año-mes input{
  width: 3rem;
}
#año-mes{
  display: flex;
  justify-content: center;
}

.all-forms{
  background-color:white;
  max-width:15vw;
  height:auto;
  padding:4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.nav-selected{
  font-weight:bold;
}

.nav-inactive{
    color: #fff;
    text-decoration: none;
}
.nav-inactive:hover{
  color: gray;
  text-decoration: none;
}
.nav-bar-links-container{
  width:40%;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.form-errors{
  color:red;
}
.form-info,.form-errors{
  size: 1.2rem;

}

.nav-bar{
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items:center;
  box-sizing: content-box; 
  padding-left: 2rem;
  padding-right: 2rem;
  height: auto;
  min-height:3rem;
}
